{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cupiditate corrupti magnam suscipit tenetur. Non, quo quasi! Ullam vero optio odit, similique reiciendis minus error molestiae impedit recusandae laudantium quis quisquam, culpa sed, ut vitae perspiciatis quo. Unde sapiente perspiciatis neque ad nihil iste qui quidem? Autem porro, repellendus molestias nemo necessitatibus ad animi repellat provident cupiditate, inventore doloremque fugit deleniti natus earum? Earum, iusto! Consequatur tempora nesciunt aut nobis molestiae vitae atque inventore, doloremque hic nisi voluptates nulla minus repellendus quidem harum, modi ipsam saepe, corporis animi consequuntur iste nemo? Velit quia iure, molestiae est eligendi libero alias officia.</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}